<!--The content below is only a placeholder and can be replaced.-->
<h1>
  Hangman
</h1>

<div>
  <div style="display: flex;">
    <pre *ngIf="!needWord" style="margin-right: 10px;">{{ hangMan.join('') }}</pre>
    <form *ngIf="needWord" name="wordForm" (submit)="onWordSubmit()" ngNativeValidate>
      <mat-form-field>
        <input name="wordInput" [(ngModel)]="wordInput" matInput placeholder="Enter 5 or more letters" required pattern="[a-zA-Z]{5,}" title="Enter a 5 or more letter word." autofocus>
      </mat-form-field>
    </form>
    <div *ngIf="!needWord">
      <div *ngFor="let letter of alphabet" style="display: inline-block">
          <button mat-fab class="letter-button" color="primary" (click)="guessLetter(letter)">{{ letter }}</button>&nbsp;
      </div>
    </div>
  </div>
  <div *ngIf="!needWord">
    <h2>Word</h2>
    <span class="letter" *ngFor="let letter of currentFound">{{ letter ? letter : '&nbsp;&nbsp;&nbsp;'}} </span>
  </div>
  <div *ngIf="!needWord">
    <h2>Guessed Letters</h2>
    <span class="letter">{{ guessedLetters.join(',') }}</span>
  </div>
  <button *ngIf="!needWord" mat-raised-button color="primary" (click)="reset()">Reset Game</button>  
</div>